
button[id="usuario"],[id="invitado"]{
    border-radius:5px;
    padding: 4px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

button[id="usuario"] {
    color:#fff;
	background-color:#04AA6D;
    
	
}

button[id="invitado"] {
    color:#fff;
	background-color:#008CBA;
    
}

input {
    display: flex;
    padding: 3px;
    margin: 5px;
    
    
}

input::placeholder{
    color: aliceblue;
    font-size: 1.2em;
    font-style: italic;
    padding: 3px;
}

form input[type="text"],
form input[type="password"] {
    background-color: mediumblue;
    border-radius:5px;
    
}


form input[type="submit"] {
    padding: 4% 16px;
	border-radius:5px;
	background-color: rgb(12, 224, 12);
    color: aliceblue;
    float: right;
    display:block;
    
}